resources/nodejs/node-red-flow.json
[{"id":"1e2e9816.33f0a8","type":"tab","label":"Solarmeter","disabled":false,"info":""},{"id":"a2c808e.909bcf8","type":"mqtt in","z":"1e2e9816.33f0a8","name":"","topic":"solarmeter/live","qos":"0","datatype":"auto","broker":"6afada7d.a0881c","nl":false,"rap":false,"x":140,"y":360,"wires":[["ee41a6.a8c04658","af7e06d4.ed0998"]]},{"id":"ee41a6.a8c04658","type":"debug","z":"1e2e9816.33f0a8","name":"Solarmeter","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":280,"wires":[]},{"id":"af7e06d4.ed0998","type":"json","z":"1e2e9816.33f0a8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":360,"wires":[["7b5e89c3.2bed5","c7abe055.1f225"]]},{"id":"7b5e89c3.2bed5","type":"debug","z":"1e2e9816.33f0a8","name":"Json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":280,"wires":[]},{"id":"69d9b985.95fa","type":"debug","z":"1e2e9816.33f0a8","name":"Postgres","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":280,"wires":[]},{"id":"c7abe055.1f225","type":"function","z":"1e2e9816.33f0a8","name":"","func":"msg.payload[0].time = new Date(msg.payload[0].time).toISOString();\nconst values = Object.values(msg.payload[0]);\n\nmsg.query = {\n    text: \"INSERT INTO live (sensor_id, time, total_energy, voltage_p1, current_p1, power_p1, voltage_p2, current_p2, power_p2, grid_voltage, grid_current, grid_power, frequency, efficiency, inverter_temp, booster_temp, r_iso, plan_id) VALUES (1, $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, (SELECT id FROM plan WHERE payment = $17));\",\n    values: values\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":360,"wires":[["69d9b985.95fa","1c2e7eff.9561a1"]]},{"id":"1c2e7eff.9561a1","type":"digitaloak-postgresql-query","z":"1e2e9816.33f0a8","name":"","server":"df9de63d.50e248","inputs":1,"outputs":0,"x":930,"y":360,"wires":[]},{"id":"b2d9ba3a.1f5ba","type":"mqtt in","z":"1e2e9816.33f0a8","name":"","topic":"solarmeter/status","qos":"1","datatype":"auto","broker":"6afada7d.a0881c","nl":false,"rap":false,"x":140,"y":520,"wires":[["9c4a6f43.9bb59"]]},{"id":"15a51d20.e52593","type":"debug","z":"1e2e9816.33f0a8","name":"Email","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":440,"wires":[]},{"id":"4236fb9f.0f9bfc","type":"e-mail","z":"1e2e9816.33f0a8","server":"mail.ahpohl.com","port":"587","secure":false,"tls":true,"name":"","dname":"","x":630,"y":520,"wires":[]},{"id":"9c4a6f43.9bb59","type":"function","z":"1e2e9816.33f0a8","name":"","func":"var payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif (typeof alarm_flag == \"undefined\")\n{\n  alarm_flag = false;\n}\nmsg.to = \"admin@ahpohl.com\";\nmsg.from = \"noreply@ahpohl.com\";\nmsg.priority = \"high\";\nvar date = new Date();\n\nif (payload == \"online\" && alarm_flag)\n{\n    alarm_flag = false;\n    msg.alarm = 0;\n    context.set(\"alarm_flag\", alarm_flag);\n    msg.topic = \"Smartmeter is online\"\n    msg.payload = \"Online event at \" + date;\n    return msg;\n}\n\nif (payload == \"offline\" && !alarm_flag)\n{\n    alarm_flag = true;\n    msg.alarm = 1;\n    context.set(\"alarm_flag\", alarm_flag);\n    msg.topic = \"Smartmeter is offline\"\n    msg.payload = \"Offline event at \" + date;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":520,"wires":[["15a51d20.e52593","4236fb9f.0f9bfc"]]},{"id":"9080d586.35004","type":"mqtt in","z":"1e2e9816.33f0a8","name":"","topic":"solarmeter/state","qos":"1","datatype":"auto","broker":"6afada7d.a0881c","nl":false,"rap":false,"x":140,"y":660,"wires":[["c789df63.da6478"]]},{"id":"5d4b5a91.92ae0c","type":"debug","z":"1e2e9816.33f0a8","name":"State","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":660,"wires":[]},{"id":"c789df63.da6478","type":"json","z":"1e2e9816.33f0a8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":660,"wires":[["5d4b5a91.92ae0c"]]},{"id":"6afada7d.a0881c","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"df9de63d.50e248","type":"digitaloak-postgresql-connection-manager","name":"localhost:5432/solarmeter","host":"localhost","port":"5432","database":"solarmeter","tls":"","use_tls":false,"pool_max_clients":"10","pool_client_max_idle":"10000","client_query_timeout":"","client_statement_timeout":"","client_connection_timeout_millis":"","is_client_enabled":"0"}]